* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.main-container {
  width: 100%;
  padding: 5% 0;
  font-family: "Rubik", sans-serif;
  background: linear-gradient(#000 50%, #333);
  color: white;
  overflow-x: hidden;
  scrollbar-width: 0px;
}

.main-header {
  width: 100%;
  background-image: url(../assets/header-assets/header-pattern1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 75px;
}
.main-header-navbar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.main-header-navbar__logo {
  width: 40%;
  max-width: 160px;
  margin-right: auto;
}
.main-header-navbar__login {
  order: 1;
  width: 50%;
  max-width: 240px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.main-header-navbar__login__login-btn {
  width: 35%;
  color: #fff;
  font-size: 1.3rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid rgba(255, 255, 255, 0.664);
  transition: color 0.3s ease-in;
}
.main-header-navbar__login__login-btn:hover {
  color: #999999;
}
.main-header-navbar__login__login-btn:active {
  color: #a2a2a2;
}
.main-header-navbar__login__register-btn {
  width: 60%;
  padding: 9px 10px;
  background-color: #666;
  color: #fff;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  max-width: 140px;
  transition: all 0.3s ease-in;
}
.main-header-navbar__login__register-btn:hover {
  background-color: gray;
}
.main-header-navbar__login__register-btn:active {
  transform: scale(0.95);
  background-color: #1a1a1a;
}
.main-header-navbar__nav {
  margin-top: 15px;
  order: 2;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.main-header-navbar__nav__item {
  color: #fff;
  font-size: 1.4rem;
}
.main-header-navbar__nav__link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease-in;
}
.main-header-navbar__nav__link:hover {
  color: #999999;
}
.main-header-navbar__nav__link:active {
  color: #a2a2a2;
}
.main-header-content-principal {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-header-content-principal__title {
  margin-top: 40px;
  font-size: 3rem;
}
.main-header-content-principal__title span {
  color: #6f6f6f;
}
.main-header-content-principal__description {
  font-size: 1.4rem;
  margin: 25px auto;
  font-weight: 400;
}
.main-header-content-principal__btn {
  margin-right: 1rem;
  padding: 9px 10px;
  background-color: #666;
  color: #fff;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  transition: all 0.3s ease-in;
}
.main-header-content-principal__btn:hover {
  background-color: gray;
}
.main-header-content-principal__btn:active {
  transform: scale(0.95);
  background-color: #1a1a1a;
}
.main-header-content-principal__btn i {
  margin-left: 10px;
  color: #666;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  width: 25px;
}
.main-header-content-principal__illustration {
  width: 100%;
}
.main-header-content-principal .discount-section {
  width: 80%;
  max-width: 230px;
  background-color: #444;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 5px 0px;
  animation: beat 1s 2s ease-in-out alternate 15;
}
@keyframes beat {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(0.95);
  }
}
.main-header-content-principal .discount-section__discount {
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  border-radius: 30px;
  width: 30%;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  font-weight: 500;
}
.main-header-content-principal .discount-section__description {
  font-size: 1rem;
  margin-right: 10px;
}

.main-header-content-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  width: 100%;
  background: red !important;
}
.main-content .why-us-wrapper {
  width: 100%;
  background-image: url(../assets/why-us-section-assets/why-us-pattern1.png), url(../assets/why-us-section-assets/why-us-pattern2.png), url(../assets/why-us-section-assets/why-us-pattern3.png);
  background-repeat: no-repeat;
  background-position: left center, right bottom, right top;
  background-size: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.main-content .why-us-wrapper .stats-section {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}
.main-content .why-us-wrapper .stats-section__reference {
  width: 50%;
  margin-bottom: 40px;
  text-align: center;
}
.main-content .why-us-wrapper .stats-section__reference .fas {
  color: #666;
  background-color: #666666;
  font-size: 35px;
  padding: 20px;
  border-radius: 50%;
}
.main-content .why-us-wrapper .stats-section__reference__title {
  font-size: 2.5rem;
  margin: 15px auto;
}
.main-content .why-us-wrapper .stats-section__reference__description {
  font-size: 1.4rem;
}
.main-content .why-us-wrapper .why-us-section {
  width: 80%;
  max-width: 400px;
  margin-bottom: 75px;
}
.main-content .why-us-wrapper .why-us-section__content {
  width: 100%;
  text-align: center;
}
.main-content .why-us-wrapper .why-us-section__content__title {
  font-size: 2.5rem;
}
.main-content .why-us-wrapper .why-us-section__content__title span {
  color: #bbbbbb;
}
.main-content .why-us-wrapper .why-us-section__content__description {
  font-size: 1.4rem;
  margin: 20px auto;
}
.main-content .why-us-wrapper .why-us-section__content__btn {
  width: 150px;
  padding: 9px 10px;
  background-color: #666;
  color: #fff;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 20px auto 10px;
  transition: all 0.3s ease-in;
}
.main-content .why-us-wrapper .why-us-section__content__btn:hover {
  background-color: gray;
}
.main-content .why-us-wrapper .why-us-section__content__btn:active {
  transform: scale(0.95);
  background-color: #1a1a1a;
}
.main-content .why-us-wrapper .why-us-section__illustration {
  width: 100%;
  animation-delay: 8s;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
}
.main-content .why-us-wrapper .benefits-section {
  width: 80%;
  max-width: 400px;
  text-align: center;
}
.main-content .why-us-wrapper .benefits-section__title {
  font-size: 2.5rem;
}
.main-content .why-us-wrapper .benefits-section__title span {
  color: #6f6f6f;
}
.main-content .why-us-wrapper .benefits-section__description {
  font-size: 1.4rem;
  margin-top: 30px;
}
.main-content .why-us-wrapper .benefits-section .card-info {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 25px 15px;
  transform: translateY(50%);
  text-align: left;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.attribution {
  margin-top: 25px;
  width: 100%;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  font-size: 1.4rem;
  color: #333;
  font-weight: 500;
}
.attribution a {
  display: inline-block;
  margin-left: 5px;
  color: #555555;
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 80%;
  }
  .main-header-navbar {
    justify-content: space-between;
  }
  .main-header-navbar__nav {
    width: 40%;
    max-width: 290px;
    margin-top: 0;
    order: 1;
  }
  .main-header-navbar__login {
    width: 30%;
  }
  .main-header-content-principal {
    width: 50%;
    justify-content: flex-start;
    text-align: left;
  }
  .main-header-content-principal__illustration {
    width: 50%;
  }
  .main-header-content-container {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .main-container {
    padding: 50px 0;
  }
  .header-container {
    max-width: 1200px;
  }
  .main-header-navbar__login__register-btn {
    padding: 15px 10px;
  }
  .main-header-content-principal__title {
    font-size: 4rem;
    line-height: 50px;
  }
  .main-header-content-principal__description {
    font-size: 1.8rem;
    line-height: 30px;
  }
  .main-header-content-principal__btn {
    padding: 15px;
  }
  .main-header-content-principal__illustration {
    width: 58%;
  }
  .main-content .why-us-wrapper {
    flex-flow: column nowrap;
  }
  }
